<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chinese chess with angularjs and svg</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script src="https://leancloud.cn/scripts/lib/av-0.4.5.min.js"></script>
    <script type="text/javascript" src="js/chess.js"></script>
    <script type="text/javascript" src="js/model/player.js"></script>
    <script type="text/javascript" src="js/model/game.js"></script>
    <script type="text/javascript" src="js/model/chessman.js"></script>
    <script type="text/javascript" src="js/model/factory.js"></script>
    <script type="text/javascript" src="js/model/general.js"></script>
    <script type="text/javascript" src="js/model/guard.js"></script>
    <script type="text/javascript" src="js/model/staff.js"></script>
    <script type="text/javascript" src="js/model/horse.js"></script>
    <script type="text/javascript" src="js/model/chariot.js"></script>
    <script type="text/javascript" src="js/model/cannon.js"></script>
    <script type="text/javascript" src="js/model/soldier.js"></script>
    <script type="text/javascript" src="js/service/console.js"></script>

    <script type="text/javascript" src="js/leancloud/config.js"></script>
    <script type="text/javascript" src="js/leancloud/service/room.js"></script>
    <script type="text/javascript" src="js/leancloud/vm/chess.js"></script>
</head>
<body ng-app="ng-chinese-chess">
    <div ng-controller="ChessCtrl">
        <div ng-if="!user">
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="name">Username</label>
                        <input id="name" type="text" placeholder="Username" ng-model="username">
                    </div>

                    <div class="pure-control-group">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Password" ng-model="password">
                    </div>

                    <div class="pure-control-group">
                        <label for="email">Email Address</label>
                        <input id="email" type="email" placeholder="Email Address" ng-model="email">
                    </div>

                    <div class="pure-controls">
                        <label for="cb" class="pure-checkbox">
                            <input id="cb" type="checkbox"> I've read the terms and conditions
                        </label>

                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div ng-if="user">
            <ul>
                <li ng-repeat="room in rooms">{{room.createdAt}}</li>
            </ul>

            <button ng-click="createGame()">Create</button>
        </div>
    </div>

<div>

</div>
</body>
</html>