<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chinese chess with angularjs and svg</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script src="https://leancloud.cn/scripts/lib/av-0.4.5.min.js"></script>
    <script type="text/javascript" src="js/chess.js"></script>
    <script type="text/javascript" src="js/model/player.js"></script>
    <script type="text/javascript" src="js/model/game.js"></script>
    <script type="text/javascript" src="js/model/chessman.js"></script>
    <script type="text/javascript" src="js/model/factory.js"></script>
    <script type="text/javascript" src="js/model/general.js"></script>
    <script type="text/javascript" src="js/model/guard.js"></script>
    <script type="text/javascript" src="js/model/staff.js"></script>
    <script type="text/javascript" src="js/model/horse.js"></script>
    <script type="text/javascript" src="js/model/chariot.js"></script>
    <script type="text/javascript" src="js/model/cannon.js"></script>
    <script type="text/javascript" src="js/model/soldier.js"></script>
    <script type="text/javascript" src="js/vm/chessboard.js"></script>
    <script type="text/javascript" src="js/service/console.js"></script>

    <script type="text/javascript" src="js/leancloud/config.js"></script>
    <script type="text/javascript" src="js/leancloud/service/user.js"></script>
    <script type="text/javascript" src="js/leancloud/service/room.js"></script>
    <script type="text/javascript" src="js/leancloud/vm/chess.js"></script>
</head>
<body ng-app="ng-chinese-chess">
    <div ng-controller="ChessCtrl">
        <div ng-if="!currentUser">
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label>Username</label>
                        <input type="text" placeholder="Username" ng-model="user.username">
                    </div>

                    <div class="pure-control-group">
                        <label>Password</label>
                        <input type="password" placeholder="Password" ng-model="user.password">
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-default" ng-click="signUp()">Sign up</button>
                        <button type="submit" class="pure-button pure-button-primary" ng-click="signIn()">Sign In</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div ng-show="currentUser">
            <table class="pure-table pure-table-bordered">
                <thead>
                <tr>
                    <th>Red Player</th>
                    <th>Black Player</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="room in rooms.models">
                    <td>
                        <div>{{room.attributes.redPlayer}}</div>
                    </td>
                    <td>
                        <div ng-hide="canJoin(room)">{{room.attributes.blackPlayer}}</div>
                        <button ng-show="canJoin(room)" ng-click="join(room)">Join this game</button>
                    </td>
                    <td>
                        <button ng-show="canWatch(room)" ng-click="watch(room)">Watch this game</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <button ng-click="createGame()">Create</button>

            <div class="pure-menu pure-menu-open pure-menu-horizontal">
                <ul>
                    <li ng-repeat="game in games" ng-class="gameClass(game)" ng-click="switchGame(game)">
                        <a href="#">Game</a>
                    </li>
                </ul>
            </div>
            <div ng-repeat="game in games">
                <svg height="620" version="1.1" width="560" xmlns="http://www.w3.org/2000/svg">
                    <desc>Chinese Chess</desc>
                    <defs>
                        <g id="canGo">
                            <rect x="15" y="15" width="30" height="30" fill="#3333aa" stroke="#3333aa"
                                  stroke-width="3"></rect>
                        </g>
                        <g id="canAttack">
                            <rect x="5" y="5" width="50" height="50" fill="#ff0000" stroke="#ff0000"
                                  stroke-width="3"></rect>
                        </g>
                        <g id="red-general">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#ff0000">
                                <tspan dy="13">帅</tspan>
                            </text>
                        </g>
                        <g id="red-guard">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#ff0000">
                                <tspan dy="13">仕</tspan>
                            </text>
                        </g>
                        <g id="red-staff">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#ff0000">
                                <tspan dy="13">相</tspan>
                            </text>
                        </g>
                        <g id="red-horse">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#ff0000">
                                <tspan dy="13">馬</tspan>
                            </text>
                        </g>
                        <g id="red-chariot">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#ff0000">
                                <tspan dy="13">車</tspan>
                            </text>
                        </g>
                        <g id="red-cannon">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#ff0000">
                                <tspan dy="13">砲</tspan>
                            </text>
                        </g>
                        <g id="red-soldier">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#ff0000">
                                <tspan dy="13">兵</tspan>
                            </text>
                        </g>
                        <g id="black-general">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#000000">
                                <tspan dy="13">将</tspan>
                            </text>
                        </g>
                        <g id="black-guard">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#000000">
                                <tspan dy="13">士</tspan>
                            </text>
                        </g>
                        <g id="black-staff">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#000000">
                                <tspan dy="13">象</tspan>
                            </text>
                        </g>
                        <g id="black-horse">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#000000">
                                <tspan dy="13">马</tspan>
                            </text>
                        </g>
                        <g id="black-chariot">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#000000">
                                <tspan dy="13">车</tspan>
                            </text>
                        </g>
                        <g id="black-cannon">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#000000">
                                <tspan dy="13">炮</tspan>
                            </text>
                        </g>
                        <g id="black-soldier">
                            <circle r="24" fill="#eeeeee" stroke="#000" stroke-width="3"></circle>
                            <text text-anchor="middle" stroke="none" fill="#000000">
                                <tspan dy="13">卒</tspan>
                            </text>
                        </g>
                    </defs>

                    <g ng-controller="ChessboardCtrl">
                        <rect ng-attr-x="{{offsetX}}" ng-attr-y="{{offsetY}}" ng-attr-width="{{gridSize*8}}" ng-attr-height="{{gridSize*9}}"
                              fill="none" stroke="#000000" stroke-width="3"></rect>
                        <path ng-repeat="path in pathArr" fill="none" stroke="#000000" ng-attr-d="{{path}}"></path>
                    </g>

                    <use ng-repeat="chess in game.chesses" ng-attr-x="{{chessX(chess)}}" ng-attr-y="{{chessY(chess)}}" xlink:href="{{symbol(chess)}}"
                         ng-click="select(game, chess)"></use>
                    <use ng-repeat="position in game.moveablePlaces" ng-attr-x="{{canGoX(position)}}" ng-attr-y="{{canGoY(position)}}" xlink:href="#canGo"
                         ng-click="move(game, position)"></use>
                    <use ng-repeat="position in game.chessUnderAttack" ng-attr-x="{{canAttackX(position)}}" ng-attr-y="{{canAttackY(position)}}" xlink:href="#canAttack"
                         ng-click="attack(game, position)"></use>
                </svg>
            </div>
        </div>
    </div>

<div>

</div>
</body>
</html>