<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Chinese chess with angularjs and svg</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <script type="text/javascript" src="libs/angular.min.js"></script>
    <script src="https://leancloud.cn/scripts/lib/av-0.4.5.min.js"></script>
    <script type="text/javascript" src="js/chess.js"></script>
    <script type="text/javascript" src="js/model/player.js"></script>
    <script type="text/javascript" src="js/model/game.js"></script>
    <script type="text/javascript" src="js/model/chessman.js"></script>
    <script type="text/javascript" src="js/model/factory.js"></script>
    <script type="text/javascript" src="js/model/general.js"></script>
    <script type="text/javascript" src="js/model/guard.js"></script>
    <script type="text/javascript" src="js/model/staff.js"></script>
    <script type="text/javascript" src="js/model/horse.js"></script>
    <script type="text/javascript" src="js/model/chariot.js"></script>
    <script type="text/javascript" src="js/model/cannon.js"></script>
    <script type="text/javascript" src="js/model/soldier.js"></script>
    <script type="text/javascript" src="js/service/console.js"></script>

    <script type="text/javascript" src="js/leancloud/config.js"></script>
    <script type="text/javascript" src="js/leancloud/service/user.js"></script>
    <script type="text/javascript" src="js/leancloud/service/room.js"></script>
    <script type="text/javascript" src="js/leancloud/vm/chess.js"></script>
</head>
<body ng-app="ng-chinese-chess">
    <div ng-controller="ChessCtrl">
        <div ng-if="!currentUser">
            <form class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label>Username</label>
                        <input type="text" placeholder="Username" ng-model="user.username">
                    </div>

                    <div class="pure-control-group">
                        <label>Password</label>
                        <input type="password" placeholder="Password" ng-model="user.password">
                    </div>

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-default" ng-click="signUp()">Sign up</button>
                        <button type="submit" class="pure-button pure-button-primary" ng-click="signIn()">Sign In</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <div ng-if="currentUser" ng-init="loadRooms()">
            <table>
                <thead>
                <tr>
                    <th>Red Player</th>
                    <th>Black Player</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="room in rooms">
                    <td>
                        <div>{{room.redPlayer}}</div>
                    </td>
                    <td>
                        <div ng-hide="canJoin(room)">{{room.blackPlayer}}</div>
                        <button ng-show="canJoin(room)" ng-click="join(room)">Join this game</button>
                    </td>
                    <td>
                        <button ng-show="canWatch(room)" ng-click="watch(room)">Watch this game</button>
                    </td>
                </tr>
                </tbody>
            </table>

            <button ng-click="createGame()">Create</button>
        </div>
    </div>

<div>

</div>
</body>
</html>